host = www.flickr.com
apiKey = f48f2e5ac98e94a7231aae79594e944c
email = allancaplan
username = I_am_Allan
displayname = I_am_Allan
nsid = 84454580@N00
groupid = 34427469792@N01 # Flickr Central group, no need to change this
testgroupid = (a group that you created)
photoid = 1088148233
photosetid = 122485
collectionid = (taken from a call to http://www.flickr.com/services/api/flickr.collections.getTree.htm)
collectionurlid = (taken from the id in the collection URL)
imagefile = path/to/test/image
secret = af995d0f2bc3ee51
token = your token (with delete privileges)
tokensecret = your token secret (as returned by OAuth)
galleryid = 72157629277637049
photosetphotos = (comma separated list of ids of at least 3 photos that you own)

# id of a photo in your stream
# which the tests can use to set, get and remove geo data
# existing geo data will be destroyed!
geo.write.photoid = 1088148233